

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 64px; /* Fixed header height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Class to add margin for the landing page */
.landing-page {
  margin-top: 64px; /* Adjusted based on header height */
  height: calc(100vh - 64px); /* Adjusted to take full height minus header */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensures proper positioning of child elements */
}
